<?xml version="1.0"?>
<!--
/**
 * ${FILE_NAME}
 *
 * @Date        04/2017
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 * @author      @diazwatson
 */-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="\Magento\Catalog\Model\Category">
        <plugin name="Space48_SeoTitle::frameworkDataTreeNode" type="\Space48\SeoTitle\Plugin\Catalog\Model\Category" sortOrder="100" disabled="false"/>
    </type>
</config>